.env
.pytest_cache
tests/testcases/results/completeness
FormalBench.egg-info
executables
tmp/*
FormalBench/config/.env
test*.py
tests/testcases/specs/Demo.java
tests/testcases/specs/demo.c
experiments/*
*.sh
Dockerfile